USE [master]
GO
/****** Object:  Database [ProjectAirline]    Script Date: 27/08/2014 08:15:38 p. m. ******/
CREATE DATABASE [ProjectAirline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectAirline', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ProjectAirline.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProjectAirline_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ProjectAirline_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectAirline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectAirline]
GO
/****** Object:  Table [dbo].[City]    Script Date: 27/08/2014 08:15:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[CityCode] [varchar](3) NOT NULL,
	[CityName] [varchar](50) NOT NULL,
 CONSTRAINT [CityCode_PK] PRIMARY KEY CLUSTERED 
(
	[CityCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CityName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CityCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 27/08/2014 08:15:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(100,1) NOT NULL,
	[FistName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Address] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Flight]    Script Date: 27/08/2014 08:15:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Flight](
	[FlightNo] [int] IDENTITY(500,1) NOT NULL,
	[Source] [varchar](3) NOT NULL,
	[Destination] [varchar](3) NOT NULL,
	[DepartureDate] [datetime] NOT NULL,
	[ArrivalDate] [datetime] NOT NULL,
	[AdultFare] [int] NOT NULL,
	[ChildFare] [int] NOT NULL,
	[TotalPassenger] [int] NOT NULL,
 CONSTRAINT [FlightNo_PK] PRIMARY KEY CLUSTERED 
(
	[FlightNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Flight_Booking]    Script Date: 27/08/2014 08:15:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight_Booking](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[FlightNo] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[DateOfBooking] [datetime] NOT NULL,
	[DateOfDeparture] [datetime] NOT NULL,
	[NoOfAdults] [int] NOT NULL,
	[NoOfChildren] [int] NOT NULL,
 CONSTRAINT [BookingId_PK] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PassengerDetails]    Script Date: 27/08/2014 08:15:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[PassengerDetails](
	[PassengerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[FlightNo] [int] NOT NULL,
	[Title] [varchar](4) NULL,
	[FistName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PassengerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [Destination_FK] FOREIGN KEY([Destination])
REFERENCES [dbo].[City] ([CityCode])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [Destination_FK]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [Source_FK] FOREIGN KEY([Source])
REFERENCES [dbo].[City] ([CityCode])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [Source_FK]
GO
ALTER TABLE [dbo].[Flight_Booking]  WITH CHECK ADD  CONSTRAINT [FlightNo_FK] FOREIGN KEY([FlightNo])
REFERENCES [dbo].[Flight] ([FlightNo])
GO
ALTER TABLE [dbo].[Flight_Booking] CHECK CONSTRAINT [FlightNo_FK]
GO
ALTER TABLE [dbo].[PassengerDetails]  WITH CHECK ADD  CONSTRAINT [FlightNo_FK2] FOREIGN KEY([FlightNo])
REFERENCES [dbo].[Flight] ([FlightNo])
GO
ALTER TABLE [dbo].[PassengerDetails] CHECK CONSTRAINT [FlightNo_FK2]
GO
USE [master]
GO
